services:
  app:
    build: .
    environment:
      NODE_ENV: development
    volumes:
      - ./:/app:cached
      - /app/node_modules
    ports:
      - "3000:3000"
    command: ["sh", "-c", "npm ci --silent && npm run dev"]
    depends_on:
      - redis
